.About{
    background-color: #FFFFFF;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    padding-top: 1.5rem;
}
.about_container {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    max-width: 1450px;
}
.stats-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 0;
}
.gray-background {
    background-color: #d2d2d2;
    border: 3px solid#ececec;
    height: 400px;     
    position: relative;    
    z-index: 1;
}
.about_stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2; /
}
.about_stats strong{
    font-size: 500
}

.about_subtitle {
    color: var(--secondary-color);
    font-weight: 600;
    padding-top: 2rem;
}

.about_title {
    font-size: 3rem;
    color:  #12372A;
    margin: 0.5rem 0 1rem;
}

.about_cards {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    
}

.about_card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #ECECEC;
    flex: 1;
}

.about_card--border {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.btn {
    background-color: #F1C30C;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    color:#12372A;
    cursor: pointer;
    font-weight: 600;
}

.about_buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.about_stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #12372A;
    color: white;
    padding: 1rem;
}

.about_stats div {
     text-align: center;
}

.about_stats strong {
    display: block;
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.about-buttons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.about_info {
    display: flex;
    align-items: center;      
    gap: 0.75rem;
}
.about-phone{
    flex-direction: column; 
    align-items: flex-start;
    line-height: 0.5;      
    gap: 0.5rem;
    margin-left: 1rem;
}
.about_phone-icon{
    margin-left: 2rem;
    width: 50px; 
    height: auto;
}
