.blog{
    background-color: #FFFFFF;
}
.blog-container{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
.blog-top{
    display: flex;
    justify-content: space-between;
    gap: 2rem;    
}
.subtitle{
    font-size: 1.25rem;
    color: var(--secondary-color);
    font-weight: 600;
    padding-top: 2rem;
}
.title{
    font-size: 3rem;
    font-weight: 600;
    color:  #12372A;
    margin: 0.5rem 0 1rem;
}
.blog-top-left,
.blog-top-right {
  flex: 1;
}
.blog-top-right{
    padding-top: 5rem;
}
.blog-container-bottom{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
.blog-bottom{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0 0rem;   
    padding-bottom: 5rem;  
}



