.getintouch {
    display: flex;
    justify-content: center;
    padding: 2rem 0 4rem;
    background-color: #FFFFFF;
}

.getintouch_container {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    max-width: 1450px;
}

.left-content {
    flex: 1;
}

.getintouch-subtitle {
    color: #F1C30C;
    font-weight: 600;
}

.getintouch-title {
    color: #12372A;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0.5rem 0 1rem;
}

.getintouch-text {
    max-width: 550px;
    margin-bottom: 2rem;
}

.gray-box {
    width: 550px;
    height: 350px;
    background-color: #c8c8c8;
}

.form-card {
    flex: 1;
    background-color: #FAF8EC;
    padding: 2rem 2.5rem;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.label {
    font-weight: 600;
    color: #333;
    margin-bottom: -0.5rem;
}

.required {
    color: red;
}

.input,
.textarea {
    width: 100%;
    padding: 0.9rem 1rem;
    border: 2px solid #F1C30C;
    border-radius: 6px;
    font-size: 1rem;
    background-color: white;
}

.textarea {
    height: 140px;
    
    resize: none;
}

.two-columns {
    display: flex;
    gap: 1rem;
}
.column {
    flex: 1;
}

.submit-btn {
    background-color: #F1C30C;
    padding: 0.9rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    width: 130px;
    transition: 0.2s;
}

.submit-btn:hover {
    background-color: #F1C30C;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}

.success-message {
    color: #2ecc71;
    font-size: 0.9rem;
}
