.hero-wrapper {
    display: flex; 
    justify-content: center;    
    width: 100%;
    height: auto;
    background-color: #12372acf;  
    padding-top: 5rem;    
}

.hero-container {
    max-width: 900px;  
    margin-top: 6rem;
}    

.link-welcome a{
    text-decoration: none;
    color: #F1C30C !important;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.2s ease;
}
.link-welcome a:hover {
  color:#12372A !important;
  transform: translateY(-2px);
}
.hero-content {
    color: #F1FFEA;         
}
.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
}
.discover-button button{
    background-color: #F1C30C;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    color:#12372A;
    cursor: pointer;
    font-weight: 600;
}
.discover-button button:hover {
    background-color: #FFFFFF;
    color:#12372A;
    transform: translateY(-2px);
}

.hero-image {
    display: block;
    height: auto;    
    
}
