.looking{
    background-color: #12372acb;
}
.looking-container{
    width: 1000px;
    margin: 0 auto;    
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}
.looking-title{
    font-size: 3rem;
    font-weight: 600;
    color:  #FFFFFF;
    margin: 0.5rem 0 1rem;
}
.looking p{
    font-size: 1rem;
    font-weight: 400;
    color:  #FFFFFF;
    margin: 0.5rem 0 1rem;
}