.subscribe {
    background-color: #FAF8EC;
}
.subscribe-container{
    width: 1400px;
    margin: auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    
}
.subscribe-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.subscribe-input {
  padding: 0.8rem 1rem;
  width: 500px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #F1C30C;
  transition: 0.2s;
}

.subscribe-input.error {
  border-color: red;
}

.subscribe-btn {
  padding: 0.8rem 1.5rem;
  background-color: #F1C30C;
  color: #12372A;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.subscribe-btn:hover {
  background-color: #0f2e23;
}

.subscribe-error {
  margin-top: 0.5rem;
  color: red;
  font-size: 0.9rem;
}

.subscribe-success {
  margin-top: 0.5rem;
  color: #2ecc71;
  font-size: 0.9rem;
}
