.testimonials-container {
    min-height: 700px;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

}
.testimonials-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.testimonial-overlay {
    position: relative;
    z-index: 2;
}
.testimonial-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem;
}
.h3-testimonial{
    color: #F1C30C;
    font-size: 2rem;
}
.h1-testimonial{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 4rem;
}
.p-testimonial{
    color: #FFFFFF;

}
.testimonial-bottom {
    display: flex;
    justify-content: center;    
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-bottom: 3rem;
}
.testimonial-card {
    background: white;
    width: 450px;
    padding: 1.5rem;
    border-radius: 8px;    
}

.testimonial-author {
    font-weight: bold;
    margin-top: 0.5rem;
}

.testimonial-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-rating {
  font-size: 1.2rem;
  color: gold;
}
