.Why{
    background-color: #FAF8EC;
}
.Why-container{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
.Why-left,
.Why-right {
  flex: 1;
}


.Why-gray{    
    background-color: #d2d2d2;
    border: 3px solid#ececec;
    height: 400px;  
    width: 550px;
}
