.hero-wrapper {
    display: flex;   
    justify-content: center; 
    width: 100%;
    background-color: #12372acf; 
    padding: 2rem 0;   
    box-sizing: border-box;           
}

.hero-container {
    max-width: 900px;
    padding: 7rem 2rem;
    box-sizing: border-box;
}

.link-welcome a{
    text-decoration: none;
    color: #F1C30C !important;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.2s ease;
}
.hero-content {
    color: #F1FFEA        
}
.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
}
.discover-button button{
    background-color: #F1C30C;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    color:#12372A;
    cursor: pointer;
    font-weight: 600;
}
.discover-button button:hover {
  background-color: var(--secondary-color, #436850b8);
  transform: translateY(-2px);
}
.hero-image {
    display: block;
    height: auto;
    object-fit: contain;
    align-self: flex-end;
    margin: 0;
}