:root {
  font-family: 'Courier New', Courier, monospace;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* index.css eller components/Navbar.css */
.navbar {
  background-color: #333;
  padding: 1rem;
}
.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar a {
  color: white;
  text-decoration: none;
}
