.pricing-box {
  background-color: #F1FFEA;
  border-radius: 1rem;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 2px 4px #c0c0c0;
  max-width: 280px;
  margin: auto;
}

.pricing-box .price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.pricing-box .currency {
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-right: 0.75rem;
  position: relative;
  top: -1.2rem;
}

.pricing-box .amount {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

.pricing-box .period {
  color: #12372A;
  font-size: 1rem;
  margin-left: 0.3rem;
}
.pricing-box .divider {
  border: none;
  border-top: 1.5px solid #12372A;
  margin: 1rem 0;
}
.pricing-box .features {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.pricing-box .features li {
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
}

.pricing-box .features i {
  color: 12372A;
  margin-right: 0.4rem;
}
.btn-pricing {
  background-color: var(--secondary-color);
  color: #12372A;
  font-weight: 600;
  border: none;
}

.btn-pricing:hover {
  background-color: #12372A;
  color:#FFFFFF;
}
