.Why-box {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    max-width: 800px;
    margin: 1rem auto;
}

.why-image {
    width: 75px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 8px;
}

.why-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}