nav {
    width: 100%;
}
/*.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;         
    padding: 1rem;           
    box-sizing: border-box;
    display: block;
  }*/

main {
    display: block;
    width: 100%;
}








