:root {
  font-family: 'Courier New', Courier, monospace;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.Navbar {
  background-color: #333;
  padding: 1rem;
}
.Navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.Navbar a {
  color: white;
  text-decoration: none;
}
.hero {
  background: linear-gradient(to right, #ececec, #dcdcdc);
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 1rem;
}

.hero-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
}

.hero-button:hover {
  background-color: #0056b3;
}

