html, body, #root {
  margin: 0;
  padding: 0;
  padding-top: 2.5rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: #f5f7fb;
  color: #12372A;
}

#root {
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


