:root {
  font-family: 'Courier New', Courier, monospace;
}


body {
  margin: 0;
  padding-top: 160px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}