html, body, #root {
  margin: 0;
  padding: 0;
  padding-top: 2.5rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: #f5f7fb;
  color: #12372A;
}

#root {
  display: block;
  --primary-color: #12372acf;
  --secondary-color: #F1C30C;
  --text-color: #222;
  --bg-light: #f7f7f7;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
}


